/*This is style.css
It's where you can style your website.

created by STRAPPY (A script the help you get working.)*/

html,
body{
	margin:0;
	padding:0;
	font-family:'RobotoDraft',sans-serif;
}
i {
	color: #55acee;
	float: left;
	margin-right: 10px;
}
a {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	color: rgba(0,0,0,0.7);
	font-family:'RobotoDraft',sans-serif;
}
sup {
	font-size: 0.3em;
}

/* Global containers, columns, page margins and section background colours */
.wrapper {
	padding: 0 20px;
}
.container {
	margin: 0 auto;
	max-width: 1000px;
}
.grid {
	width: 100%;
	overflow: auto;
}
.grid > * {
	float: left;
}
.col-2 {
	width: 50%;
}
.col-3 {
	width: 33.3333%;
}
.col-2-center {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}
.offset-1-5 {
	width: calc(100%*4/5);
	margin-left: calc(100%*1/5);
}
.offset {
	width: calc(100%-70px);
	margin-left: 70px;
}
.col-1-3 {
	width: calc(100%/3);
}
p.btn {
	margin-top: 30px;
}
p a.btn {
	position: relative;
	color: #3CC7EE;
}
p a:before {
    content: '';
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 0%;
    right: 100%;
    background-color: #3CC7EE;
    transition: 0.35s;
    transition-property: left, right;
}
p a:hover:before {
    left: 0;
    right: 0;
}  

/* NAVBAR */
nav {}
nav.main-nav {
	background: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000000;
  verflow: auto;
}
nav.main-nav.detached {
  position: fixed;
  background: #FFF;
}
nav.main-nav.hidden {
  -webkit-transform: translate3d(0, -69px, 0);
  -moz-transform: translate3d(0, -69px, 0);
  transform: translate3d(0, -69px, 0);
}
nav.main-nav h1 {
	margin: 25px 0;
	float: left;
  	font-size: 1rem;
  	font-weight: 500;
  	color: rgba(255,255,255,.9);
}
nav.main-nav h1 a {
	color: #fff;
}
nav.main-nav ul {
  margin: 25px 0;
  padding-left: 0;
  padding-right: 0px;
  overflow: auto;
  float: right;
}
nav.main-nav ul li {
  float: left;
  margin: 0 10px;
  font-weight: 500;
  font-size: .875rem;
}
nav.main-nav ul li a {
  color: rgba(255,255,255,.9);
}
nav.main-nav.detached ul li a {
  color: #000;
  opacity: .4;
}
.main-nav-trigger {
  position: fixed;
  top: 10px;
  right: 30px;
  padding: 12px 0 8px;
  z-index: 12;
  cursor: pointer
}
a.main-nav-trigger {
  color: #333;
}
@media (max-width: 700px) {
  nav.main-nav ul {
    width: 220px;
  }
  nav.main-nav ul li:nth-child(4),nav.main-nav ul li:nth-child(5) {
    display: none;
  }
}

/* Vertically align something */
.va {
  display: table;
  width: 100%;
}
.va > div {
  display: table-cell;
  vertical-align: middle;
}

/* HEADER */
header {
	position: relative;
	text-align: center;
	background-color: #3CC7EE;
	width: 100%;
	height: 100vh;
	min-height: 400px;
}
header.schedule-bg {
	background: url("http://im.vsco.co/1/563ebc423e5d110369846/56631749f83a87031b322d61/vsco_120515.jpg?w=800&dpr=2") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}
header.register-bg {
	background: url("http://im.vsco.co/1/56613fe2f187711703211/5677bc13c46cbe4e0163bb7f/vsco_122115.jpg?w=800&dpr=2") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}
header.hero-bg {
	background: url("http://im.vsco.co/1/55637dd33fb5c4269572/55649ff22756151d168b4579/vsco_052615.jpg?w=668&dpr=2") no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}
header.short-header {
	height: 400px;
}
header .va {
	height: 100%;
}
header img {
	height: 600px;
	opacity: 0.8;
}
header .title-overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 43%;
}
header h1 {
	font-size: 5em;
	letter-spacing: -0.05em;
	font-weight: 700;
	color: #fff;
	text-align: center;
	margin: 0;
}
header h2 {
	font-size: 2em;
	font-weight: 300;
	color: #fff;
	text-align: center;
	margin-bottom: 0;
	margin-top: 1em;
}
header #particles-js {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100000;
}

.main {
	padding: 20px 0;
}

/* Global section styles */
section {
	padding: 10px 0;
}
section h2 {
	font-size: 3em;
	font-weight: 300;
}
section p {
	font-size: 1.2em;
	line-height: 1.6;
	color: rgba(0,0,0,0.8);
}
/* Section specific styles */
section.partners {
	padding: 20px 0;
	background-color: rgba(242,242,242, 0.8);
}
section.partners h6 {
	opacity: 0.8;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
}
section.sponsors {text-align: center;background: #FFF;}
section.sponsors img {
	width: 80%;
	margin-top: 40px;
}
section.fast-info h4 {
	text-align: center;
	font-size: 1.5em;
	font-weight: 300;
	margin: 1em 0;
	color: #666;
	opacity: 0.5;
}
section.fast-info h3 {
	margin-top: 0;
	margin-bottom: 0.3em;
	font-size: 3.5em;
	font-weight: 300;
	color: #666;
	opacity: 0.8;
	text-align: center;
}

/* Prizes Section */
section.prizes h3 {
	color: #EED416;
}

/* Judging Section */
section.judging {}
section.judging ol {
	font-size: 1.2em;
	line-height: 1.6;
	color: rgba(0,0,0,0.8);
}
section.judging ol > li {
	margin-top: 10px;
	font-size: 1.25em;
	color: rgba(0,0,0,0.7);
}
section.judging ol ul {
	
}
section.judging ol ul li {
}

/* Challenges Section */
section.challenges {}
section.challenges ul {
	font-size: 1.2em;
	line-height: 1.6;
	color: rgba(0,0,0,0.8);
}

section.schedule h2 span {
	color: rgba(0,0,0,0.3);
}
table {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}
tr:nth-child(even) {
	background-color: #f1f1f1;
	border: none;
}
td:nth-child(2n+1) {
	width: 150px;
}
td {
	padding: 1em;
	border: none;
}

article.twitter-post {
	font-size: 1.2em;
}article.twitter-post span {
	opacity: 0.4;
	margin-left: 10px;
	font-weight: 400;
}


/* Global Footer Styles */
footer {
	background-color: rgb(238, 238, 238);
	color: rgb(68, 68, 68);
	font-size: 13px;
}
footer .container {
	overflow: auto;
	font-weight: 300;
	padding: 50px 0;
}
footer a {
	color: rgb(68, 68, 68);
}
footer h6, footer h6 a  {
	margin: 0;
	font-size: 20px;
	line-height: 2;
	color: #666;
}
footer ul {
	float: right;
	list-style-type: none;
}
footer ul li {
	display: inline-block;
}
footer li + li::before {
	content: '\00B7';
	padding: 0px 8px 0px 4px;
}
.footer-left {
	width: 80px;
	float: left;
	color: #666;
}
.footer-right {
	width: calc(100% - 80px);
	float: right;
}

